*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
#cover-bg{
    margin: 0;
    padding: 0;
    background-image: url(assets/bgdoto22.png);
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    justify-content: center;
}

#header{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: auto;
    background-image: url(assets/bgheader.png);
    position: relative;
}

#logo-header{
    position: relative;
    margin: auto;
    width: 150px;
}


#text-logo{
    position: relative;
    width: 550px;
    margin: auto;

}

.navbar{
    width: 1000px;
    position: relative;
    color: white;
    margin: auto;
    background-color: black;
}
.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li a{
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
}

.dropdown_menu{
    display: none;
    position: absolute;
}
.navbar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    left: 0;
    background-color: black;
}
.navbar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 10px;
}

.navbar ul li:hover .dropdown_menu ul li{
    width: 150px;
    padding: 10px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
li{
    padding: 16px 17px;
}

a{
    text-decoration: none;
    color: white;
}

.container{
        width: auto;
        margin: 40px auto;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
}

.container h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: -20px;
    text-align: center;
    position: relative;
    color: white;
    margin-bottom: 15px;
}

.container h1 span{
    color: #ffb320;
}

.slider-inner{
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    border:white solid 1px;

}

.slider-inner img{
    display: none;
    width: 600px;
    height: 400px;

}

.slider-inner img.active{
    display: inline-block;
}

.prev,.next{
    float: left;
    margin-top: 170px;
    cursor: pointer;
}
.prev{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next{
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

.content{
    display: flex;
    width: auto;
    height: 730px;
    position: relative;
    color: white;
    margin: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#button-read-more {
    margin-top: 10px;
    background-color: #ffb320;
    color: black;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 0.35cm;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.tittle1{
    width: 880px;
    text-align: justify;
}

.tittle1 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    color:#ffb320;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content1{
    width: 880px;
    text-align: center;
}

.content1 p{
    font-size: 20px;
    margin-top: 10px;
}

.tittle2{
    width: 880px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tittle2 h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: relative;
    color:#ffb320;

}

.content2{
    justify-content: space-around;
    display: flex;
    text-align: justify;
}

.imagecontent2{
    padding-left: 15px;
}

.textcontent2{
    padding: 10px;
    margin-right: 20px;
    width: 550px;
}

.textcontent2 h1{
    font-size: 20px;
}
.textcontent3 h1{
    font-size: 20px;
}
.textcontent2 h2{
    font-size: 23px;
}
.textcontent3 h2{
    font-size: 23px;
}

.content3{
    justify-content: space-around;
    display: flex;
    text-align: justify;
}

.imagecontent3{
    padding-left: 15px;
}

.textcontent3{
    margin-right: 20px;
    width: 550px;
    padding: 10px;
}

.slider{
    width: 800px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
.slider h1{
    color:#ffb320;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

.navigation-manual{
    position: relative;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40d3dc;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: relative;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40d3dc;
}

#footer{
    padding-top: 15px;
    position: relative;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    align-self: baseline;
     color: white;
}

.follow{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
#textfooter{
    margin: 8px 0;
    font-style: arial bold;
    font-size: 15px;
    text-align: center;
}
